# predict house prices

data description: https://ww2.amstat.org/publications/jse/v19n3/decock.pdf

imports:

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

## Data preparation

load data:

In [2]:
dataset = pd.read_csv("./train.csv")
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

----------------------------

## Sanitize data

are there any NaN's? In which columns are they?

In [3]:
nan_columns = dataset.columns[dataset.isna().any()]
nan_columns

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

how many NaN's are there in given column?

In [4]:
nan_columns_percentage = dataset[nan_columns] \
                        .isna() \
                        .apply(lambda column: column.value_counts() / column.count() * 100) \
                        .sort_values(by=[True],axis=1)
nan_columns_percentage

,Electrical,MasVnrType,MasVnrArea,BsmtQual,BsmtCond,BsmtFinType1,BsmtExposure,BsmtFinType2,GarageCond,GarageQual,GarageFinish,GarageType,GarageYrBlt,LotFrontage,FireplaceQu,Fence,Alley,MiscFeature,PoolQC
False,99.931507,99.452055,99.452055,97.465753,97.465753,97.465753,97.39726,97.39726,94.452055,94.452055,94.452055,94.452055,94.452055,82.260274,52.739726,19.246575,6.232877,3.69863,0.479452
True,0.068493,0.547945,0.547945,2.534247,2.534247,2.534247,2.60274,2.60274,5.547945,5.547945,5.547945,5.547945,5.547945,17.739726,47.260274,80.753425,93.767123,96.30137,99.520548

`False` means that the value is not a NaN, `True` just the opposite. The numbers in the table above are the percentage of NaN's and valid values respectively. The table is sorted by count of NaN in given column.

Should we drop the columns with missing data? Set the threshold of NaN percentage content in column, above which the columns will be dropped:

In [25]:
threshold = 50

#select all columns, which have more nan's than the given threshold:
nan_columns_drop_filter = nan_columns_percentage.columns[nan_columns_percentage.loc[True] > threshold].tolist()
print('columns dropped: ' + str(nan_columns_drop_filter))

nan_columns_percentage.drop(nan_columns_drop_filter, axis=1, inplace=True)
filtered_dataset = dataset.copy()
filtered_dataset.drop(nan_columns_drop_filter, axis=1, inplace=True)

columns dropped: ['Fence', 'Alley', 'MiscFeature', 'PoolQC']

Should we drop rows with missing data? Set the threshold of NaN percentage content in column, below which the rows will be dropped:

In [32]:
threshold = 5
nan_columns_drop_filter = nan_columns_percentage.columns[nan_columns_percentage.loc[True] < threshold].tolist()
print('drop rows from given columns: ' + str(nan_columns_drop_filter))

filtered_dataset.dropna(axis=0, subset=nan_columns_drop_filter, inplace=True)

drop rows from given columns: ['Electrical', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtFinType1', 'BsmtExposure', 'BsmtFinType2']

Any NaN's left?

In [34]:
dataset.columns[dataset.isna().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

## Fill missing data

### TODO: add various techniques to fill missing data, both for numerical and categorical
test, which methods are most effective for this dataset
http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/
encoding for categoricals

which of them are potentially categorical and which are numbers?

In [5]:
dataset[nan_columns].dtypes

LotFrontage     float64
Alley            object
MasVnrType       object
MasVnrArea      float64
BsmtQual         object
BsmtCond         object
BsmtExposure     object
BsmtFinType1     object
BsmtFinType2     object
Electrical       object
FireplaceQu      object
GarageType       object
GarageYrBlt     float64
GarageFinish     object
GarageQual       object
GarageCond       object
PoolQC           object
Fence            object
MiscFeature      object
dtype: object

Which columns are potentially categorical?

In [6]:
nan_columns_categorical = nan_columns[dataset[nan_columns].dtypes == 'object']
nan_columns_categorical

Index(['Alley', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu',
       'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC',
       'Fence', 'MiscFeature'],
      dtype='object')

Which columns are potentially numbers?

In [7]:
nan_columns_numbers = nan_columns[dataset[nan_columns].dtypes != 'object']
nan_columns_numbers

Index(['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], dtype='object')

-----------------------------

what is the dependency between the columns and SalePrice?

In [ ]:
plt.figure(figsize=(30,20))
sns.heatmap(dataset.corr(),annot=True)

Which predictors should be most important?

In [ ]:
dataset.corr()['SalePrice'].sort_values(ascending=False).head()

Let's use just one colum as predictor and see what happens.
By using the sklearn usage flowchart as a guide, we should use Lasso or ElasticNet ( http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html )

generate train and validation set:

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(dataset['OverallQual'], dataset['SalePrice'], test_size=0.3)

In [ ]:
clf = linear_model.Lasso(alpha=0.1)
clf.fit(X_train.values.reshape(-1,1), y_train.values.reshape(-1,1))
#X_train.reshape(1,-1)

In [ ]:
predicted = clf.predict(X_val.values.reshape(-1,1))
predicted[predicted <=0] = 1
#np.log(predicted) - np.log(y_val.values.reshape(-1,1).flatten())
mean_squared_error(np.log(predicted), np.log(y_val.values.reshape(-1,1).flatten()))

In [ ]:
dataset.info()

In [ ]:
dataset['PoolQC'].unique()

In [ ]:
lb = preprocessing.LabelBinarizer()
#pd.isna(dataset['PoolQC'])
dataset.fillna('Lacks')
#lb.fit_transform(dataset[np.isnan(dataset['PoolQC']) == False])
dataset.select_dtypes(include=['object']).columns